@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');

html {
  background-color: #242424;
  font-family: 'Roboto Mono', monospace;;
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1 {
  color:#fff
}

.containerDataUser {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerHome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -50px;
}

.containerProyects {
display: flex;
align-items: center;
justify-content: center;
margin: 10px 10px 10px 10px;
gap: 10px;

}

.buttoData {
 width: 70%;
 margin-top: 30px;
}

.infoBody {
  background-color: #E8EAED;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photo {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.or {
  color: #fff;
  font-size: 12px;
}

.containerIndex {
  width: 400px;
  display: flex;
  margin: auto auto auto auto;
  align-items: center;
  justify-content: center;
}

.containerBody {
  margin: auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.botton_google {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


form {
  display: grid;
  width: 300px;
  border: 1px solid #E8EAED;
  background-color: white;
  align-items: center;
  justify-content: center;
}

p {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

button {
  background-color: #085ee7;
  width: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 10px auto;
  cursor: pointer;
  color:white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  &:hover {
    background-color: #4285F4;
    
  }
}

input {
  background-color: white;
  margin: 10px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid silver;
  color: #357ae8;
}

